name: Daily Cricket Report

on:
  schedule:
    - cron: "0 0 * * *"  # daily 12 AM UTC
  workflow_dispatch:       # manual run ke liye

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}   # <-- yahi variable ka naam
        run: python telegram_bot.py
